.orders {
  margin: 1.5rem auto;
  width: 85%;

  h3 {
    font-size: 2rem;
    color: var(--headingColor);
    margin-bottom: 0.5rem;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
    font-weight: 300;
    color: var(--textColor);
    
    cursor: pointer;
    user-select: none;

    padding: 1.2rem;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    &#order-placeholder {
      height: 4rem;
      background-color: var(--whitePlaceholder);
      animation:  blink 1.5s ease infinite;
    }
  }

  li + li {
    margin-top: 0.5rem;
  }

  li:last-child {
    margin-bottom: 5rem;
  }

}

@keyframes blink {
  0% { opacity: 1;}
  50% { opacity: 0.5;}
  100% { opacity: 1;}
}