.btn-con {
  margin-top: auto;
  margin-bottom: 4.1875rem;
  display: flex;
  justify-content: center;

  button {
    width: 90%;
    height: 3.3rem;
    font-size: 1.3rem;
    border-radius: 10px;
    background: #007bff;
    border: none;
    color: #fff;
  }
}