.orders {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
    font-weight: 300;
    color: var(--textColor);
    
    cursor: pointer;
    user-select: none;

    height: 4rem;
    padding: 0 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    span {
      //max-width: 50%;
      width: 7rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &#order-placeholder {
      height: 4rem;
      background-color: var(--whitePlaceholder);
      animation:  blink 1.5s ease infinite;
    }

    &.edit-menu {
      justify-content: flex-start;
      padding-left: 1rem;
      gap: 2rem;
      
      img {
        width: 2rem;
        height: 2rem;
        margin: 0;
      }
    }
  }
 /*  .order-details {
    display: none;
  } */
}

@keyframes blink {
  0% { opacity: 1;}
  50% { opacity: 0.5;}
  100% { opacity: 1;}
}

@media screen and (min-width:500px){

}
