
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

:root {
  --white: #fff;
  --headingColor: #4f4f4f;
  --textColor: #5a5858;
  --whitePlaceholder: #d3d3d8;
}

@media screen and (min-width: 500px){
  .responsive{
    display: flex;
    justify-content: center;
   
    > div {
      padding: 1rem;
      border-radius: 10px;
      border: 1px solid #d3d3d8;
      margin-top: 5rem;
      min-height: 30rem;
      width: 30rem;
      box-shadow: 0 10px 10px rgba(0, 0, 0,0.1);
    }

    .basket {
      position: absolute;
      top: 0;
      height: 4rem;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    footer {
      position: absolute;
      width: 100%;
      top: 0;
      justify-content: center;
      gap: 6rem;
    }
    
    form {
      button {
        margin-bottom: 1rem;
      }
    }
  }
}