
.basket {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 4.20rem;
  padding: 0 0.4rem;
  border-top: 2px dotted #A8A8B3;
  border-bottom: 2px dotted #A8A8B3;
  
  list-style-type: none;

  display: flex;
  gap: 1rem;
  align-items: center;
  
  overflow-x: scroll;
  
  background-color: #ECEAEA;

  li {
    position: relative;
    font-size: 0;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      &.close {
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        top: -5px;
        right: -4px;
      }

    }
  }
}