
.user-logged {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  span {
    color: #8f8f8f;
    margin-bottom: 2rem;
  }
}