
header {
  background-color: var(--main-color);
  padding: 0 4%;
  color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    cursor: pointer;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
}