.login-button-container {


  #googleButton {
    background: #EA4335;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      width: 2rem;
      height: 2rem;
    }

    span {
      color: #fff;
      font-weight: 500;
      font-size: 1.3rem;
    }
  }

  p {
    margin-top: 0.5rem;
    color: #8f8f8f;
    text-align: center;
  }

  .separador {
    font-size: 0.875rem;
    color: #a8a8b3;
    
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    
    // Teste
    justify-content: center;
    
    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }
    
    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }
}